# Dependencies
node_modules/

# Environment variables
.env
#text files/temporary files
Flow.txt
Outline of AI report.txt
temp.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/



# Production build
dist/
build/
